<mat-toolbar class="header">
  <div class="container justify-content-between items-center">
    <button mat-icon-button class="cur-point">
      <img src="./assets/img/dark-icon.svg" alt="Change theme">
    </button>
    <a class="logo d-flex justify-content-center items-center g-14" routerLink="/">
      <img src="./assets/img/logo.svg" alt="logo">
      <span class="logo-text">CoinCap</span>
    </a>
    <div class="currency-menu d-flex justify-content-end">
      <div class="menu-trigger cur-point d-flex items-center"
           #menuTrigger="matMenuTrigger"
           [matMenuTriggerFor]="menu">
        <span>{{ commonService.currentCurrency$ | async | uppercase}}</span>
        <img [class.opened]="menuTrigger.menuOpen" src="./assets/img/indicator.svg" alt="Menu">
      </div>
      <mat-menu #menu="matMenu" xPosition="before" class="currency-menu-panel">
        <button mat-menu-item
                *ngFor="let currency of currencies"
                (click)="changeCurrency(currency)">
          {{ currency | uppercase }}
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
