<mat-toolbar class="header">
  <div class="container d-flex justify-content-between items-center">
    <button mat-icon-button class="cur-point">
      <img src="./assets/img/dark-icon.svg" alt="Change theme">
    </button>
    <a class="logo d-flex items-center g-14" routerLink="/">
      <img src="./assets/img/logo.svg" alt="logo">
      <span class="logo-text">CoinCap</span>
    </a>
    <div class="currency-menu">
      <div class="menu-trigger cur-point d-flex items-center"
           #menuTrigger="matMenuTrigger"
           [matMenuTriggerFor]="menu">
        <span>USD</span>
        <img [class.opened]="menuTrigger.menuOpen" src="./assets/img/indicator.svg" alt="Menu">
      </div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Currency 1</button>
        <button mat-menu-item>Currency 2</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
