@import "../../../../assets/colors";

.header {
  height: 85px;
  background-color: #fff;
  border-bottom: 2px solid #CDEBB7;
  justify-content: center;
  font-family: unset;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    img {
      width: 20px;
    }
  }

  .currency-menu {
    span {
      font-size: 16px;
      color: $primary-dark;
      font-weight: 400;
      margin-right: 4px;
    }

    img {
      transform: rotate(-180deg);

      &.opened {
        transform: none;
      }
    }
  }

  .logo-text {
    font-size: 18px;
    color: #6F5D69;
    font-weight: 400;
  }
}

.mat-menu-panel {
  &.currency-menu-panel {
    max-width: unset;
    padding: 0;
    -webkit-box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);
    -moz-box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);
    box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);

    .mat-menu-content {
      h3 {
        margin: 10px;
        font-size: 16px;
        font-weight: 500;
      }

      .suggested-currencies {
        padding: 10px;
      }

      .all-currencies {
        padding: 10px;

        .currencies-wrapper {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
        }
      }
    }
  }
}

