@import "../../../assets/colors";

.breadcrumbs {
  margin-top: 74px;

  a {
    opacity: .6;
    transition: .4s;

    &:hover {
      opacity: 1;
    }
  }

  span {
    opacity: 1;
  }
}

.share-menu {
  &.mat-menu-panel {
    margin-top: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);
    -moz-box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);
    box-shadow: 0 0 9px -4px rgba(66, 68, 90, 0.48);

    .link-input {
      input {
        height: 30px;
        padding: 8px;
        background-color: $green-light;
        border: none;
        border-radius: 4px 0 0 4px;
      }

      button {
        height: 30px;
        width: 27px;
        background-color: #fff;
        border: 1px solid $green-light;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.coin-details {
  position: relative;
  margin-top: 100px;
  padding-bottom: 60px;
  display: flex;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 890px) {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    &.coin-info-wrap {
      width: 50%;

      @media screen and (max-width: 890px) {
        width: 100%;
        display: flex;
      }

      @media screen and (max-width: 640px) {
        flex-direction: column;
      }

      .coin-info, .coin-converter {
        @media screen and (max-width: 890px) {
          width: 100%;
        }
      }
    }
  }

  .coin-actions {
    position: absolute;
    right: 0;
    top: 0;

    button {
      width: 36px;
      height: 30px;
      border-radius: 4px;
      border: 1px solid #E5E5E5;
      background-color: #fff;
    }
  }

  .rank {
    width: fit-content;
    padding: 11px;
    height: 22px;
    background-color: $primary-dark;
    border-radius: 4px;
    margin-bottom: 16px;

    span {
      color: #fff;
    }
  }

  .coin-title {
    margin-bottom: 16px;

    .coin-name {
      font-size: 24px;
      font-weight: 500;
    }

    .coin-symbol {
      font-size: 20px;
      color: $primary-grey;
    }

    .coin-img {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .coin-symbol {
      color: $primary-grey;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .coin-price {
    .price-num {
      font-size: 24px;
      font-weight: 500;
    }

    .change-percentage {
      .price-change-indicator {
        margin-left: 4px;
      }

      &.bull {
        color: $bullish;

        svg {
          path {
            fill: $bullish;
          }
        }
      }

      &.bear {
        color: $bearish;

        svg {
          transform: rotate(-180deg);

          path {
            fill: $bearish;
          }
        }
      }
    }
  }

  .price-range {
    .mat-progress-bar {
      height: 8px;
      border-radius: 4px;
      margin-top: 20px;
    }

    .mat-progress-bar-buffer {
      background-color: $grey-light-third;
    }

    .mat-progress-bar-fill {
      &::after {
        background: linear-gradient(270deg, #57BD0F 0%, #E6D26E 101.91%);
      }
    }

    .progress-annotations {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 6px;
      color: $grey-medium;

      .price-curr {
        text-align: center;
      }

      .price-high {
        text-align: right;
      }
    }
  }

  .chart-title {
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      font-weight: 300;
    }
  }

  .coin-chart-wrapper {
    position: relative;
    min-height: 500px;

    .chart-buttons {
      position: absolute;
      right: 0;
      top: 0;

      @media screen and (max-width: 640px) {
        left: 0;
      }

      button {
        height: 30px;
        padding: 8px;
        background-color: #fff;
        border: 1px solid $grey-light;
        font-family: unset;

        &.active {
          background-color: $yellow-dark;
          border-color: $yellow-dark;
          color: #fff;
        }

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }

    .mat-tab-header {
      border-bottom: unset;
      width: fit-content;
      flex-grow: unset;

      @media screen and (max-width: 640px) {
        margin-top: 40px;
      }

      .mat-tab-label-container {
        .mat-tab-labels {
          margin-bottom: 16px;

          .mat-tab-label {
            height: 30px;
            opacity: 1;
            justify-content: flex-start;
            border: 1px solid $grey-light;
            min-width: unset;

            &:first-child {
              width: 100px;
              border-radius: 4px 0 0 4px;
            }

            &:last-child {
              width: 160px;
              border-radius: 0 4px 4px 0;
            }

            .mat-tab-label-content {
              font-family: 'Solway', sans-serif;
              font-size: 14px;
              font-weight: 400;
            }

            &.mat-tab-label-active {
              background-color: $yellow-dark;
              color: #fff;
              border: none;
            }
          }
        }
      }
    }

    .loader-small {
      .loader-wrapper {
        transform: scale(0.3);
      }
    }
  }

  .questionnaire {
    background-color: $grey-light-second;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;

    h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px !important;
    }

    h4, p {
      margin: 0;
    }

    button {
      height: 30px;
      border-radius: 6px;
      border: 1px solid $grey-light;
      background-color: #fff;
      padding: 8px;
      opacity: .8;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }

    .questionnaire-progress {
      .mat-progress-bar {
        height: 8px;
        border-radius: 4px;
      }

      .mat-progress-bar-buffer {
        background-color: $bearish;
      }

      .mat-progress-bar-fill {
        &::after {
          background: $bullish;
        }
      }
    }
  }

  .coin-info {
    h3 {
      font-size: 24px;
      font-weight: 500;
    }

    .coin-info-title {
      min-width: 100px;
    }

    .coin-info-values {
      a, span {
        line-height: 14px;
        font-size: 14px;
        padding: 8px;
        opacity: .8;
        border-radius: 4px;
        transition: .3s opacity;
        background-color: $grey-light-second;

        &.light-mode {
          color: inherit;
          background-color: $grey-light-second;
        }

        &.dark-mode {
          color: #c8c8c8;
          background-color: #40494b;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .coin-converter {
    h3 {
      font-size: 24px;
      font-weight: 500;
    }

    .exchange-input {
      .curr-symbol {
        background-color: #fff;
        height: 40px;
        max-width: 90px;
        width: 100%;
        font-size: 14px;
        border-radius: 6px 0 0 6px;
        color: $grey-medium;
        border-right: 2px solid $grey-light-second;
      }
    }

    .converter-bg {
      max-width: 400px;
      width: 100%;
      padding: 30px;
      background-color: $grey-light-second;
      border-radius: 15px;

      @media screen and (max-width: 640px) {
        max-width: unset;
      }
    }
  }
}

.coin-description {
  max-width: 960px;
  width: 100%;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    line-height: 26px;
    color: $grey-medium;
    white-space: pre-wrap;
    margin-bottom: 80px;

    a {
      color: $bullish;
    }
  }
}
