<ul class="breadcrumbs" *ngIf="!isCoinInfoLoading">
  <li>
    <a routerLink="/">Cryptocurrencies</a>
    <span> / </span>
    <span>{{ coin.name }} Price</span>
  </li>
</ul>

<div class="coin-details g-60">
  <div class="wrapper" *ngIf="!isCoinInfoLoading">
    <div class="rank d-flex justify-content-center items-center">
      <span>Rank #</span>
      <span>{{ coin.market_cap_rank }}</span>
    </div>

    <div class="coin-title d-flex items-center g-14">
        <span class="coin-img">
          <img [src]="coin.image.thumb" [alt]="coin.symbol+'-logo'">
        </span>
      <span class="coin-name">{{ coin.name }}</span>
      <span class="coin-symbol">{{ coin.symbol }}</span>
    </div>

    <div class="coin-price d-flex items-center g-14">
      <span class="price-num">{{ coin.market_data.current_price[currentCurrencyKey] | currency: currentCurrency}}</span>
      <div class="change-percentage d-flex items-center"
           [class.bull]="coin.market_data.price_change_percentage_24h >= 0"
           [class.bear]="coin.market_data.price_change_percentage_24h < 0">
        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.750023 5.25C0.446678 5.25 0.173198 5.0673 0.0571128 4.78702C-0.0589722 4.50675 0.00519039
                  4.18418 0.21969 3.96968L3.96968 0.219667C4.26255 -0.0732225 4.73745 -0.0732225 5.03033 0.219667L8.78032
                  3.96968C8.99482 4.18418 9.05903 4.50675 8.94293 4.78702C8.82683 5.0673 8.55338 5.25 8.25 5.25H0.750023Z"
                fill="#3F3E3E"/>
        </svg>
        <div class="price-change-indicator">
          {{ coin.market_data.price_change_percentage_24h | abs | number:'1.0-2' }}
        </div>
      </div>
    </div>

    <div class="price-range">
      <mat-progress-bar mode="determinate" [value]="priceRangeValue"></mat-progress-bar>
      <div class="progress-annotations">
        <div class="price-low">{{ coin.market_data.low_24h[currentCurrencyKey] | currency: currentCurrency }}</div>
        <div class="price-curr">24H Range</div>
        <div
          class="price-high">{{ coin.market_data.current_price[currentCurrencyKey] | currency: currentCurrency }}</div>
      </div>
    </div>

    <div class="chart-title">
      <h3>{{ coin.name }} Price Chart</h3>
      <p *ngIf="currentTab === 'Price'">
        Last updated {{ initialDate | date : 'shortTime' }}. Currency in {{ currentCurrency }}.
      </p>
    </div>

    <div class="coin-chart-wrapper">
      <div class="chart-buttons" *ngIf="currentTab === 'Price'">
        <button
          (click)="getChartData( '1')"
          [class.active]="activeOptionButton=='1'"
          class="cur-point">
          1d
        </button>
        <button
          (click)="getChartData( '7' )"
          [class.active]="activeOptionButton=='7'"
          class="cur-point">
          7d
        </button>
        <button
          (click)="getChartData( '14' )"
          [class.active]="activeOptionButton=='14'"
          class="cur-point">
          14d
        </button>
        <button
          (click)="getChartData( '30' )"
          [class.active]="activeOptionButton=='30'"
          class="cur-point">
          30d
        </button>
        <button
          (click)="getChartData( 'max' )"
          [class.active]="activeOptionButton=='max'"
          class="cur-point">
          Max
        </button>
      </div>

      <mat-tab-group dynamicHeight
                     color="transparent"
                     (selectedTabChange)="setChart($event)">
        <ng-container *ngIf="!isChartDataLoading">
          <mat-tab label="Price">
            <apx-chart
              #chart
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [grid]="chartOptions.grid!"
              [colors]="chartOptions.colors!"
              [yaxis]="chartOptions.yaxis!"
              [dataLabels]="chartOptions.dataLabels!"
              [markers]="chartOptions.markers!"
              [stroke]="chartOptions.stroke!"
              [xaxis]="chartOptions.xaxis!"
              [tooltip]="chartOptions.tooltip!"
            ></apx-chart>
          </mat-tab>
          <mat-tab label="TradingView">
            <tradingview-widget [widgetConfig]="widgetConfig"></tradingview-widget>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
      <app-loader class="loader-small" *ngIf="isChartDataLoading && !isChartDataLoading"></app-loader>
    </div>
  </div>

  <div class="coin-actions d-flex g-14">
    <button class="d-flex justify-content-center items-center cur-point" matTooltip="Add to favorite">
      <img src="./assets/img/favorite-details.svg"
           alt="Add to favorites">
    </button>
    <button [matMenuTriggerFor]="menu"
            matTooltip="Share"
            class="d-flex justify-content-center items-center cur-point">
      <img src="./assets/img/share.svg"
           alt="Share">
    </button>

    <mat-menu class="share-menu" #menu="matMenu" xPosition="before">
      <div class="d-flex g-8">
        <img class="link-img" src="./assets/img/link.svg" alt="Link">
        <span>Copy link</span>
      </div>
      <br>
      <div class="link-input d-flex">
        <input type="text" [(ngModel)]="currentUrl" readonly>
        <button class="d-flex justify-content-center items-center cur-point">
          <img *ngIf="!isUrlCopiedToClipboard"
               [cdkCopyToClipboard]="currentUrl"
               (click)="copyToClipboard('url', $event)"
               matTooltip="Click to copy"
               class="copy-img cur-point"
               src="./assets/img/copy.svg"
               alt="Copy to clipboard">
          <img *ngIf="isUrlCopiedToClipboard"
               class="cur-point"
               src="./assets/img/copied.svg"
               alt="Copied to clipboard">
        </button>
      </div>
    </mat-menu>
  </div>

  <div class="wrapper coin-info-wrap">
    <ng-container *ngIf="!isCoinInfoLoading">
      <div class="coin-info">
        <h3>Info</h3>
        <div class="d-flex flex-column g-14">
          <div class="d-flex g-14 items-baseline">
            <div class="coin-info-title">Website</div>
            <div class="coin-info-values d-flex flex-wrap g-8">
              <a [href]="coin.links.homepage[0]"
                 [class.dark-mode]="darkModeService.darkMode$ | async"
                 [class.light-mode]="!(darkModeService.darkMode$ | async)"
                 target="_blank">
                {{ coin.links.homepage[0] | urlMiddlePart }}
              </a>
            </div>
          </div>
          <div class="d-flex g-14 items-baseline">
            <div class="coin-info-title">Community</div>
            <div class="coin-info-values d-flex flex-wrap g-8">
              <a *ngIf="coin.links.twitter_screen_name"
                 [href]="'https://twitter.com/'+coin.links.twitter_screen_name"
                 [class.dark-mode]="isDarkMode"
                 [class.light-mode]="isDarkMode === false"
                 target="_blank">
                <img src="./assets/img/twitter.svg" alt="Twitter">
                Twitter
              </a>
              <a *ngIf="coin.links.facebook_username"
                 [href]="'https://www.facebook.com/'+coin.links.facebook_username"
                 [class.dark-mode]="isDarkMode"
                 [class.light-mode]="isDarkMode === false"
                 target="_blank">
                <img src="./assets/img/facebook.svg" alt="Facebook">
                Facebook
              </a>
            </div>
          </div>
          <div class="d-flex g-14 items-baseline"
               *ngIf="coin.categories.length > 0">
            <div class="coin-info-title">Tags</div>
            <div class="coin-info-values d-flex flex-wrap g-8">
              <span *ngFor="let cat of coin.categories"
                    [class.dark-mode]="isDarkMode"
                    [class.light-mode]="isDarkMode === false">
                {{ cat }}
              </span>
            </div>
          </div>
          <div class="d-flex g-14 items-baseline">
            <div class="coin-info-title">Source Code</div>
            <div class="coin-info-values d-flex flex-wrap g-8">
              <a [href]="coin.links.repos_url.github[0]"
                 [class.dark-mode]="isDarkMode"
                 [class.light-mode]="isDarkMode === false"
                 target="_blank">
                <img src="./assets/img/git.svg" alt="Github">
                Github
              </a>
            </div>
          </div>
          <div class="d-flex g-14 items-baseline">
            <div class="coin-info-title">API id</div>
            <div class="coin-info-values d-flex flex-wrap g-8">
              <span class="d-flex items-center g-8"
                    [class.dark-mode]="isDarkMode"
                    [class.light-mode]="isDarkMode === false"
                    [(ngModel)]="coinAPIid"
                    ngDefaultControl>
                {{ coin.id }}
                <img *ngIf="!isApiIdCopiedToClipboard"
                     [cdkCopyToClipboard]="coinAPIid"
                     (click)="copyToClipboard('apiId')"
                     matTooltip="Click to copy"
                     class="cur-point"
                     src="./assets/img/copy.svg"
                     alt="Copy to clipboard">
                <img *ngIf="isApiIdCopiedToClipboard"
                     class="cur-point"
                     src="./assets/img/copied.svg"
                     alt="Copied to clipboard">
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="coin-converter">
        <h3>{{ coin.name }} Converter</h3>
        <div class="converter-bg d-flex flex-column g-8">
          <div class="exchange-input d-flex items-center">
            <div class="curr-symbol d-flex items-center justify-content-center">
              {{ coin.symbol | uppercase }}
            </div>
            <mat-form-field appearance="outline" class="search-field converter-field">
              <input #coinQuantityInput
                     type="number" matInput min="0"
                     [(ngModel)]="coinQuantity"
                     (input)="convert(coinQuantityInput.value, 'crypto')">
            </mat-form-field>
          </div>
          <div class="exchange-input d-flex items-center">
            <div class="curr-symbol d-flex items-center justify-content-center">
              {{ currentCurrency | uppercase }}
            </div>
            <mat-form-field appearance="outline" class="search-field converter-field">
              <input #currencyQuantityInput
                     type="number" matInput min="0"
                     [(ngModel)]="currencyQuantity"
                     (input)="convert(currencyQuantityInput.value, 'fiat')">
            </mat-form-field>
          </div>

          <div class="converted-value">
            1 {{ coin.symbol | uppercase }}
            = {{ coin.market_data.current_price[currentCurrencyKey] | currency: currentCurrency }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="wrapper">
  <div class="coin-description" *ngIf="coinDescription">
    <h3>About</h3>
    <p [innerHTML]="coinDescription"></p>
  </div>
</div>

<div class="d-flex justify-content-center items-center h-100vh-85"
     *ngIf="isCoinInfoLoading">
  <app-loader></app-loader>
</div>

