.header {
  height: 85px;
  background-color: #fff;
  border-bottom: 2px solid #CDEBB7;
  justify-content: center;
  font-family: unset;

  .logo-text {
    font-size: 18px;
    color: #6F5D69;
    font-weight: 400;
  }
}
