$primary-dark: #3F3E3E;
$primary-grey: #B1B1B1;
$yellow-dark: #E5CC74;

$bullish: #57BD0F;
$bearish: #ED5565;

$user-clr: #dee3ff;
$dark-clr: #333333;
$grey-clr: #9b9b9b;
$lighter-clr: #fcfcfc;
$light-clr: #f4f4f4;
$danger-clr: #dd7676;
$success-clr: #6cb37d;
$warning-clr: #f9cb6f;

