@import "../../../../assets/colors";

.table-container {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;

  .mat-header-cell {
    font-size: 14px;

    &.rank-header-cell {
      width: 150px;
    }
  }

  .coin-list-table {
    width: 100%;
    border-radius: 5px;
    background-color: inherit;

    .timeframe-col-head, .timeframe-col {
      @media screen and (max-width: 1060px) {
        display: none;
      }
    }

    .hidden-col-sm {
      @media screen and (max-width: 830px) {
        display: none;
      }
    }

    .price-col {
      @media screen and (max-width: 830px) {
        padding: 0 24px;
      }
    }

    tr {
      cursor: pointer;
    }

    .coin-img {
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    .coin-symbol {
      color: $primary-grey;
      font-size: 14px;
      text-transform: uppercase;
    }

    .bull {
      color: $bullish;
    }

    .bear {
      color: $bearish;
    }
  }


}

