@import "../../../../assets/colors";

.table-container {
  padding-top: 130px;
  padding-bottom: 130px;

  .coin-list-table {
    width: 100%;
    border-radius: 5px;

    .coin-img {
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    .coin-symbol {
      color: $primary-grey;
      font-size: 14px;
      text-transform: uppercase;
    }

    .bull {
      color: $bullish;
    }

    .bear {
      color: $bearish;
    }
  }



}

