<div [hidden]="isLoading" class="table-container">

  <div class="d-flex justify-content-between mt-20">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search in coins</mat-label>
      <input [(ngModel)]="searchValue" matInput (keyup)="filterCoins()">
    </mat-form-field>

    <app-pagination
      [currentPage]="currentPage"
      (getData)="getCoins($event)">
    </app-pagination>
  </div>
  <table mat-table [dataSource]="dataSource"
         matSort (matSortChange)="announceSortChange($event)"
         class="coin-list-table">

    <ng-container matColumnDef="market_cap_rank">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header="market_cap_rank"
          sortActionDescription="Sort by rank">
        <span class="rank-header ml-26">#</span>
      </th>
      <td mat-cell *matCellDef="let coin">
        <span class="mr-14 cur-point"
              matTooltip="Add to favorite"
              [matTooltipPosition]="'below'">
          <img src="./assets/img/favorite.svg" alt="add to favorite">
        </span>
        <span>{{ coin.market_cap_rank }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header="name"
          sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let coin">
        <div class="coin-name d-flex items-center g-14">
        <span class="coin-img">
        <img [src]="coin.image" [alt]="coin.name+'image'">
      </span>
          <span class="coin-name">{{ coin.name }}</span>
          <span class="coin-symbol">{{ coin.symbol }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="current_price">
      <th mat-header-cell
          class="align-right-cell"
          *matHeaderCellDef
          mat-sort-header="current_price"
          sortActionDescription="Sort by price">
        Price
      </th>
      <td mat-cell class="align-right-cell"
          *matCellDef="let coin">
        ${{ coin.current_price | number:'1.0-12' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price_change_percentage_1h_in_currency">
      <th mat-header-cell
          class="align-right-cell"
          *matHeaderCellDef
          mat-sort-header="price_change_percentage_1h_in_currency"
          sortActionDescription="Sort by 1h change">
        1h
      </th>
      <td mat-cell class="align-right-cell"
          [class.bull]="coin.price_change_percentage_1h_in_currency >= 0"
          [class.bear]="coin.price_change_percentage_1h_in_currency < 0"
          *matCellDef="let coin">
        {{ coin.price_change_percentage_1h_in_currency | number:'1.0-2' }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="price_change_percentage_24h">
      <th mat-header-cell
          class="align-right-cell"
          *matHeaderCellDef
          mat-sort-header="price_change_percentage_24h"
          sortActionDescription="Sort by 24h change">
        24h
      </th>
      <td mat-cell class="align-right-cell"
          [class.bull]="coin.price_change_percentage_24h >= 0"
          [class.bear]="coin.price_change_percentage_24h < 0"
          *matCellDef="let coin">
        {{ coin.price_change_percentage_24h | number:'1.0-2' }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="price_change_percentage_14d_in_currency">
      <th mat-header-cell
          class="align-right-cell"
          *matHeaderCellDef
          mat-sort-header="price_change_percentage_14d_in_currency"
          sortActionDescription="Sort by 7d change">
        7d
      </th>
      <td mat-cell class="align-right-cell"
          [class.bull]="coin.price_change_percentage_14d_in_currency >= 0"
          [class.bear]="coin.price_change_percentage_14d_in_currency < 0"
          *matCellDef="let coin">
        {{ coin.price_change_percentage_14d_in_currency | number:'1.0-2' }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="total_volume">
      <th mat-header-cell class="align-right-cell"
          *matHeaderCellDef mat-sort-header="total_volume"
          sortActionDescription="Sort by volume">
        Total volume
      </th>
      <td mat-cell class="align-right-cell" *matCellDef="let coin">
        ${{ coin.total_volume | number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sparkline_in_7d">
      <th mat-header-cell class="align-right-cell-text"
          *matHeaderCellDef>
        Last 7 days
      </th>
      <td mat-cell class="align-right-cell" *matCellDef="let coin; let i = index">
        <apx-chart class="mini-sparkline"
                   [series]="coin.chartOptions.series"
                   [colors]="coin.chartOptions.colors"
                   [chart]="commonLineSparklineOptions.chart!"
                   [tooltip]="commonLineSparklineOptions.tooltip!">
        </apx-chart>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="clickedRows.add(row)">
    </tr>
  </table>

  <div class="pagination d-flex justify-content-center mt-20">
    <app-pagination
      [currentPage]="currentPage"
      (getData)="getCoins($event)">
    </app-pagination>
  </div>
</div>

<div class="d-flex justify-content-center items-center h-100vh-85">
  <app-loader *ngIf="isLoading"></app-loader>
</div>
