$dark-bg: #2d3436;
$primary-dark: #3F3E3E;
$primary-grey: #B1B1B1;
$grey-medium: #777777;
$grey-light: #D1D1D1;
$grey-light-second: #F5F5F5;
$grey-light-third: #E3E1E1;
$yellow-dark: #E5CC74;
$green-light: #DAF1CBFF;

$bullish: #57BD0F;
$bearish: #ED5565;

