/* solway-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/solway-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: url('fonts/solway-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/solway-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/solway-v18-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/solway-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/solway-v18-latin-300.svg#Solway') format('svg'); /* Legacy iOS */
}

/* solway-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/solway-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/solway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/solway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/solway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/solway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/solway-v18-latin-regular.svg#Solway') format('svg'); /* Legacy iOS */
}

/* solway-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/solway-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: url('fonts/solway-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/solway-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/solway-v18-latin-500.woff') format('woff'), /* Modern Browsers */
  url('fonts/solway-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/solway-v18-latin-500.svg#Solway') format('svg'); /* Legacy iOS */
}

/* solway-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/solway-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: url('fonts/solway-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/solway-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/solway-v18-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/solway-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/solway-v18-latin-700.svg#Solway') format('svg'); /* Legacy iOS */
}

/* solway-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/solway-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: url('fonts/solway-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/solway-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/solway-v18-latin-800.woff') format('woff'), /* Modern Browsers */
  url('fonts/solway-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/solway-v18-latin-800.svg#Solway') format('svg'); /* Legacy iOS */
}
