@use '@angular/material' as mat;

@include mat.core();

$coincap-primary: mat.define-palette(mat.$indigo-palette);
$coincap-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$coincap-warn: mat.define-palette(mat.$red-palette);

$coincap-theme: mat.define-light-theme((
  color: (
    primary: $coincap-primary,
    accent: $coincap-accent,
    warn: $coincap-warn,
  )
));

@include mat.all-component-themes($coincap-theme);
@import "assets/fonts";
@import "assets/colors";

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Solway', serif;
  color: $primary-dark;
}

a {
  text-decoration: unset;
  cursor: pointer;
  color: inherit;
}

.h-100vh-85 {
  height: calc(100vh - 85px);
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-right-cell {
  .mat-sort-header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.align-right-cell-text {
  text-align: right !important;
}

.mat-cell {
  &.align-right-cell {
    text-align: right !important;
  }
}

.g-8 {
  gap: 8px;
}

.g-14 {
  gap: 14px;
}

.g-60 {
  gap: 70px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-14 {
  margin-right: 14px;
}

.ml-26 {
  margin-left: 26px;
}

.cur-point {
  cursor: pointer;
}

.mat-table {
  font-family: unset;
}

tr {
  &.mat-row {
    height: 50px;
  }
}

.mat-snack-bar-container {
  background-color: $bearish;

  .mat-button, span {
    color: #fff;
  }
}

apx-chart {
  &.mini-sparkline {
    div {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }

    .apexcharts-legend {
      display: none !important;
    }
  }
}

.search-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-flex {
    height: 40px;

    .mat-form-field-infix {
      margin-top: -7px;
      font-size: 14px;
      padding: 10px;
    }
  }

  .mat-input-element {
    caret-color: $primary-dark;
  }

  &.mat-form-field-appearance-outline {
    .mat-form-field-outline-thick {
      color: $primary-grey;
    }

    &.mat-focused {
      .mat-form-field-outline-thick {
        color: $yellow-dark;
      }

      .mat-form-field-label {
        color: $primary-dark;
      }
    }
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}
