@use '@angular/material' as mat;

@include mat.core();

$coincap-primary: mat.define-palette(mat.$indigo-palette);
$coincap-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$coincap-warn: mat.define-palette(mat.$red-palette);

$coincap-theme: mat.define-light-theme((
  color: (
    primary: $coincap-primary,
    accent: $coincap-accent,
    warn: $coincap-warn,
  )
));

@include mat.all-component-themes($coincap-theme);
@import "assets/fonts";
@import "assets/colors";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Solway', serif;

  &:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }

  &.light-mode {
    color: $primary-dark;
    background-color: #fff;
  }

  &.dark-mode {
    color: #fff;
    background-color: $dark-bg;

    .mat-menu-panel {
      background-color: $dark-bg;
      -webkit-box-shadow: 0 0 9px -4px rgba(241, 241, 241, 0.48);
      -moz-box-shadow: 0 0 9px -4px rgba(241, 241, 241, 0.48);
      box-shadow: 0 0 9px -4px rgba(241, 241, 241, 0.48);

      &.currency-menu-panel {
        .mat-menu-content {
          .suggested-currencies {
            border-bottom: 1px solid #4e4e4e;
          }
        }
      }
    }

    .apexcharts-menu {
      transition: unset;

      &.apexcharts-menu-open {
        background-color: #2d3436 !important;
        border-color: #2d3436 !important;
      }

      .apexcharts-menu-item {
        &:hover {
          background-color: #2d3436 !important;
        }
      }
    }

    .header {
      border-bottom: unset;

      .menu-trigger-img {
        filter: invert(1);
        opacity: .7;
      }
    }

    button, span, table, input {
      color: #fff !important;
    }

    p {
      color: #c8c8c8 !important;
    }

    button {
      &.mat-button-disabled {
        opacity: .4;
      }
    }

    .coin-details {
      .coin-chart-wrapper {
        .chart-buttons {
          button {
            background-color: $dark-bg;

            &.active {
              background-color: $yellow-dark;
              border-color: $yellow-dark;
            }
          }
        }
      }
    }

    span {
      &.coin-symbol {
        color: $grey-medium !important;
      }
    }

    tbody {
      td, tr {
        color: $grey-light;
      }
    }

    thead {
      tr, td, .mat-header-cell {
        color: $grey-light;
      }
    }

    th {
      &.mat-header-cell {
        border-bottom: 1px solid rgba(211, 198, 198, 0.12) !important;
      }
    }

    td {
      &.mat-cell {
        border-bottom: 1px solid rgba(211, 198, 198, 0.12) !important;
      }

      &.mat-footer-cell {
        border-bottom: 1px solid rgba(211, 198, 198, 0.12) !important;
      }
    }

    mat-label {
      color: $grey-light;
    }

    .mat-form-field-outline-thick {
      color: $grey-medium;
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-outline {
        color: rgba(211, 198, 198, 0.12);
      }
    }

    .search-field {
      &.mat-form-field-appearance-outline {
        &.mat-focused {
          .mat-form-field-outline-thick {
            color: #bd9a03;
          }
        }
      }
    }

    .scroll-top-circle {
      background-color: $dark-bg;
    }

    .apexcharts-tooltip {
      background-color: #2d3436;

      &.apexcharts-theme-light {
        .apexcharts-tooltip-title {
          background-color: $dark-bg;
        }
      }
    }

    .apexcharts-yaxis {
      color: #fff !important;
    }

    .mat-tab-label, .mat-tab-link {
      color: #fff;
    }

    .coin-details .coin-chart-wrapper .mat-tab-header .mat-tab-label-container .mat-tab-labels .mat-tab-label {
      border: 1px solid #394447;
    }

    .coin-details {
      .coin-chart-wrapper {
        .mat-tab-header {
          .mat-tab-label-container {
            .mat-tab-labels {
              .mat-tab-label {
                border: 1px solid #394447;

                &.mat-tab-label-active {
                  background-color: #bfa753;
                }
              }
            }
          }
        }

        .chart-buttons {
          button {
            border: 1px solid #394447;

            &.active {
              background-color: #bfa753;
              border-color: #bfa753;
            }
          }
        }
      }
    }

    .coin-details {
      .coin-info {
        img {
          filter: invert(1);
        }
      }

      .coin-actions {
        button {
          background-color: #3c4547;
          border: 1px solid #3c4547;
        }
      }
    }

    .coin-details {
      .price-range {
        .progress-annotations {
          color: #a2a2a2;
        }

        .mat-progress-bar-buffer {
          background-color: #353c3d;
        }
      }

      .coin-converter {
        .converter-bg {
          background-color: #3c4547;
        }

        .exchange-input {
          .curr-symbol {
            background-color: #343a3c;
            border-right: 1px solid #434a4d;
            color: #b0b0b0;
          }
        }
      }
    }

    .converter-field {
      .mat-form-field-wrapper {
        background-color: #343a3c;
      }
    }

    .search-field {
      .mat-input-element {
        caret-color: $grey-medium;
      }
    }

    .apexcharts-grid-borders {
      line {
        stroke: transparent;
      }
    }

    .share-menu {
      img {
        &.link-img, &.copy-img {
          filter: invert(1);
        }
      }

      &.mat-menu-panel {
        .link-input {
          input {
            background-color: #77856f;
          }

          button {
            background-color: #77856f;
            border: 1px solid #77856f;
          }
        }
      }
    }

    footer {
      border-top: 1px solid #4e4e4e;
    }
  }
}

a {
  text-decoration: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.h-100vh-85 {
  height: calc(100vh - 85px);
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  flex: 1 1 auto;
}

.wrapper-global {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-right-cell {
  .mat-sort-header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.align-right-cell-text {
  text-align: right !important;
}

.mat-cell {
  &.align-right-cell {
    text-align: right !important;
  }
}

.g-8 {
  gap: 8px;
}

.g-14 {
  gap: 14px;
}

.g-60 {
  gap: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-14 {
  margin-right: 14px;
}

.ml-26 {
  margin-left: 26px;
}

.cur-point {
  cursor: pointer;
}

.mat-table {
  font-family: unset;
}

tr {
  &.mat-row {
    height: 50px;
  }
}

.mat-snack-bar-container {
  background-color: $bearish;

  .mat-button, span {
    color: #fff;
  }
}

.cdk-overlay-pane {
  ::-webkit-scrollbar {
    display: none !important;
  }
}

.mat-progress-bar-background {
  fill: none;
}

apx-chart {
  &.mini-sparkline {
    div {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }

    .apexcharts-legend {
      display: none !important;
    }
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-field {
  font-family: unset;

  .mat-form-field-flex {
    height: 40px;

    .mat-form-field-infix {
      margin-top: -7px;
      font-size: 14px;
      padding: 10px;
    }
  }

  .mat-input-element {
    caret-color: $primary-dark;
  }

  &.mat-form-field-appearance-outline {
    .mat-form-field-outline-thick {
      color: $primary-grey;
    }

    &.mat-focused {
      .mat-form-field-outline-thick {
        color: $yellow-dark;
      }

      .mat-form-field-label {
        color: inherit;
      }
    }
  }
}

.converter-field {
  max-width: 280px;
  width: 100%;

  .mat-form-field-wrapper {
    background-color: #fff;
    border-radius: 0 6px 6px 0;
  }

  .mat-form-field-flex {
    height: 44px;

    .mat-form-field-infix {
      margin-top: -4px;
    }
  }

  &.mat-form-field-appearance-outline {
    .mat-form-field-outline-thick {
      display: none;
    }

    .mat-form-field-outline {
      display: none;
    }
  }
}

footer {
  height: 60px;
  border-top: 1px solid $grey-light-second;

  p {
    color: $grey-medium;
    font-weight: 300;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}
